<div id="picture"><img id="profile-pic" src="../../../assets/images/profile_pic.jpg" alt="Me"></div>

<div id="details">
  <h2 id="name">{{profile.name}} {{profile.lastname}}</h2>
  <h3>{{ profile.position }}</h3>
</div>
<hr>
<div id="contact">
  <h4 style="font-size:large;position:relative;">Info</h4>
  <a class="info" style="display: block;"><fa-icon [icon]="faMapMarkerAlt"></fa-icon>&nbsp;&nbsp;{{profile.location}}</a>
  <a class="info" style="display: block;"><fa-icon [icon]="faCalendarAlt"></fa-icon>&nbsp;&nbsp;{{profile.birthdate}}</a>
  <h4 id="direct-contact" style="font-size:large;position:relative;">Contact</h4>
  <a class="info" style="display: block;"><fa-icon [icon]="faPhoneAlt"></fa-icon>&nbsp;&nbsp;{{profile.phoneNumber}}</a>
  <a class="info" style="display: block;"><fa-icon [icon]="faEnvelopeOpenText"></fa-icon>&nbsp;&nbsp;{{profile.email}}</a>
  <a class="info" style="display: block;" id="github"><fa-icon [icon]="faGithub"></fa-icon>&nbsp;&nbsp;GitHub</a>  
  <a class="info" style="display: block;"><fa-icon [icon]="faLinkedin"></fa-icon>&nbsp;&nbsp;LinkedIn</a>
</div>