h2 {
  font-size:x-large;
}

.block {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
  background: lightgrey;
}

.plus-div {
  margin-bottom: 1rem;
  width: 100%;
  height: 3rem;
  background: rgb(190, 190, 190);
  font-size: 300%;
  color: white;
  text-align: center;
  line-height: 3rem;
  transition: box-shadow .3s;
  animation-name: slideDown;
  animation-duration: 0.5s;
}

@keyframes slideDown {
from {height: 0px; font-size: 0px; color: rgba(250, 250, 250, 0);}
to {height: 3rem; font-size: 300%; color: rgba(250, 250, 250, 1);}
}

.plus-div:hover {
  box-shadow: 0 0 6px rgba(33,33,33,.3); 
}